In [ ]:
#installing nltk
#pip install nltk

In [1]:
import nltk

In [2]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SUDHANSHU\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
#nltk.download()

In [1]:
import pandas as pd

In [2]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [3]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [6]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [8]:
display(genuine.head(10))

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [9]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [11]:
fake['target'] = 0
genuine['target'] = 1

In [13]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [14]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [16]:
data = pd.concat([fake,genuine],axis=0)

In [17]:
date = data.reset_index(drop=True)

In [18]:
data = data.drop(['subject','date','title'],axis=1)

In [19]:
print(data.columns)

Index(['text', 'target'], dtype='object')

## Tokenization

In [20]:
from nltk.tokenize import word_tokenize

In [21]:
data['text'] = data['text'].apply(word_tokenize)

In [22]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

## Stemming

In [23]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [24]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [25]:
data['text'] = data['text'].apply(stem_it)

In [26]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

## Stopword Removal

In [28]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SUDHANSHU\AppData\Roaming\nltk_data...

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

[nltk_data]   Unzipping corpora\stopwords.zip.

In [29]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [30]:
data['text'] = data['text'].apply(stop_it)

In [31]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [33]:
data['text']=data['text'].apply(' '.join)

## Splitting

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(data['text'],data['target'],test_size=0.25)
display(X_train.head())
print('\n')
display(y_train.head())

3495     even though former realiti show star turn pres...
9726     washington reuter indiana governor mike penc s...
13533    when black live matter support use the same ta...
8900     san juan reuter puerto rico friday said will d...
13636    san salvador reuter salvador court tuesday rul...
Name: text, dtype: object

3495     0
9726     1
13533    0
8900     1
13636    1
Name: target, dtype: int64

## Vectorization

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [36]:
print(tfidf_train)

  (0, 17847)	0.043887697832401804
  (0, 72892)	0.04562805422790584
  (0, 86487)	0.02624836515415172
  (0, 40803)	0.02802007220820314
  (0, 41604)	0.12022788991798522
  (0, 41973)	0.035987522142056166
  (0, 10211)	0.03950412655274316
  (0, 90499)	0.03591481160252137
  (0, 8115)	0.03520686712464235
  (0, 75923)	0.09066136161623475
  (0, 66384)	0.03096497925938678
  (0, 81179)	0.02831497637530059
  (0, 59180)	0.02470340125182362
  (0, 25602)	0.07311605030803714
  (0, 9401)	0.030408289514124644
  (0, 72273)	0.02034962048043193
  (0, 88468)	0.020929631150499516
  (0, 42609)	0.028917821228976046
  (0, 82134)	0.03316282060988474
  (0, 63479)	0.04575089230504134
  (0, 57961)	0.032262251647572064
  (0, 77379)	0.038578010331722146
  (0, 26246)	0.3521308078213408
  (0, 65271)	0.03681180105534301
  (0, 38805)	0.02505752042379697
  :	:
  (33671, 90721)	0.02140340459122796
  (33671, 17054)	0.031590625768794546
  (33671, 77323)	0.043688327320611946
  (33671, 29919)	0.0479039604489443
  (33672, 9350)	0.320762557270899
  (33672, 73775)	0.31287021446397034
  (33672, 63987)	0.3941856453631015
  (33672, 37919)	0.26934322184001824
  (33672, 73138)	0.21291196052618203
  (33672, 89379)	0.3514404177412722
  (33672, 29179)	0.2713701696249562
  (33672, 20432)	0.145911936561594
  (33672, 38711)	0.2908202626002852
  (33672, 25169)	0.18723340025545698
  (33672, 18767)	0.18495481930242663
  (33672, 17609)	0.1264248367550646
  (33672, 38345)	0.12234016384797457
  (33672, 10657)	0.182695942795817
  (33672, 10865)	0.15265032426019184
  (33672, 88246)	0.09668008642879675
  (33672, 81210)	0.0755611544365889
  (33672, 78793)	0.11551361862350833
  (33672, 49402)	0.10426515722280837
  (33672, 17472)	0.10990208823467791
  (33672, 85639)	0.1212461481075362

## LogisticRegression

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [39]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train,y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test,pred_1)
print(cr1*100)

98.9042316258352

## PassiveAgressiveClassifier

In [44]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [45]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test,y_pred)
print('The accuracy of prediction is',accscore*100)

The accuracy of prediction is 99.60801781737194